.about {
  max-width: 1000px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

.about h2 {
  margin-bottom: 20px;
}
section {
  padding: 100px 20px;
}
.about {
  background-color: #ffffff;
}

.skills {
  background-color: #f9f9f9;
}