/* .skills {
  max-width: 1200px;
  margin: 120px auto;
  padding: 20px;
}

.skills h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.skill-box {
  min-height: 220px;
  width: 260px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.skill-box:hover {
  transform: translateY(-5px);
}

.skill-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.skill-box ul {
  padding-left: 18px;
}

.skill-box li {
  font-size: 14px;
  margin-bottom: 6px;
}
 */

/* ===== SECTION ===== */
.skills {
  text-align: center;
}

/* ===== HEADING ===== */
.skills h2 {
  margin-bottom: 40px;
}

/* ===== CONTAINER ===== */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

/* ===== CARD ===== */
.skill-box {
  width: 300px;
  min-height: 260px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
}

/* ===== HEADING ===== */
.skill-box h3 {
  margin-bottom: 12px;
}

/* ===== LIST ===== */
.skill-box ul {
  padding-left: 18px;
}

.skill-box li {
  margin-bottom: 6px;
  line-height: 1.6;
}